<MudDialog Style="width: 500px;">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Create" Class="mr-3 mb-n1" />
            @DialogTitle
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudTextField Required="true" Value="@TravelPlan.Name" Label="Name" ValueChanged="(string name) => TravelPlan.ChangeName(name)" />
        <MudTextField Value="@TravelPlan.Description" Label="Description" ValueChanged="(string description) => TravelPlan.ChangeDescription(description)" />
        <MudNumericField Value="@TravelPlan.Budget" Label="Budget" ValueChanged="(int? budget) => TravelPlan.ChangeBudget(budget)" />
        <MudSelect Value="@TravelPlan.Type" Label="Type" ValueChanged="(TravelPlanType type) => TravelPlan.ChangeType(type)">
            @foreach (TravelPlanType item in Enum.GetValues(typeof(TravelPlanType)))
            {
                <MudSelectItem Value="@item">@item</MudSelectItem>
            }
        </MudSelect>
        <div style="margin-top: 10px;">
            <MudExpansionPanels>
                <MudExpansionPanel Text="@TravelToPanelTitle" MaxHeight="400">
                    <TravelInputForm Travel="@TravelPlan.TravelTo" />
                </MudExpansionPanel>
                <MudExpansionPanel Text="@TravelHomePanelTitle" MaxHeight="400">
                    <TravelInputForm Travel="@TravelPlan.TravelHome" />
                </MudExpansionPanel>
            </MudExpansionPanels>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Disabled="IsSaveDisabled" Color="Color.Success" OnClick="CreateOrUpdate">Save</MudButton>
    </DialogActions>
</MudDialog>
